<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movie.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/dsd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".friends.MainActivity" ></activity>
        <activity android:name=".first.SplashActivity"></activity>
        <activity android:name=".first.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name=".first.SignupActivity" ></activity>
        <activity android:name=".chatting.ChattingActivity" ></activity>
        <activity android:name=".make.MakeActivity" ></activity>
        <activity android:name=".friends.ProfileActivity" ></activity>
        <activity android:name=".like.LikeActivity" ></activity>
        <activity android:name=".find.FindActivity" ></activity>
        <activity android:name=".find.DetailActivity"></activity>
    </application>

</manifest>